{% extends "base.html" %}
{% block nav_item_about %}active{% endblock nav_item_about %}

{% block body %}

    <div class="container my-3">
        <h2 class="text-center">ME at a glance</h2>
        <div class="row">

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="static/img/card-001.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Science Enthusiast</h5>
                        <p class="card-text">I want to know how this world will end.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="static/img/card-002.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Developer Enthusiast</h5>
                        <p class="card-text">In progress</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="static/img/card-003.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Teacher</h5>
                        <p class="card-text">Teaching someone is the best way to learn.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock body %}
